# ETL Project

## Import Dependencies and Setup

In [28]:

import pandas as pd
from sqlalchemy import create_engine

## Extract data

In [29]:
#fastfood data from https://www.kaggle.com/datafiniti/fast-food-restaurants
fast_food_file = 'Resources/Fast_Food_Restaurants.csv'

In [30]:
fast_food_df = pd.read_csv(fast_food_file)
fast_food_df.head()

,id,dateAdded,dateUpdated,address,categories,primaryCategories,city,country,keys,latitude,longitude,name,postalCode,province,sourceURLs,websites
0,AWrSh_KgsVYjT2BJAzaH,2019-05-19T23:58:05Z,2019-05-19T23:58:05Z,2555 11th Avenue,"Fast Food Restaurants,Hamburgers and Hot Dogs,...",Accommodation & Food Services,Greeley,US,us/co/greeley/255511thavenue/554191587,40.39629,-104.69699,Carl's Jr.,80631,CO,https://www.yellowpages.com/greeley-co/mip/car...,https://www.carlsjr.com/?utm_source=Yextandutm...
1,AWEKlA-LIxWefVJwxG9B,2018-01-18T18:30:23Z,2019-05-19T23:45:05Z,2513 Highway 6 And 50,"Restaurant,Mexican Restaurants,Fast Food Resta...",Accommodation & Food Services,Grand Junction,US,us/co/grandjunction/2513highway6and50/1550891556,39.08135,-108.58689,Del Taco,81505,CO,http://www.citysearch.com/profile/772076870/gr...,http://www.deltaco.com
2,AWrSfAcYsVYjT2BJAzPt,2019-05-19T23:45:04Z,2019-05-19T23:45:04Z,1125 Patterson Road,"Sandwich Shops,Fast Food Restaurants,Restauran...",Accommodation & Food Services,Grand Junction,US,us/co/grandjunction/1125pattersonroad/-2137447852,39.09148,-108.55411,Which Wich,81506,CO,https://www.yellowpages.com/grand-junction-co/...,http://www.whichwich.com
3,AWrSa3NAQTFama1Xpkbz,2019-05-19T23:26:58Z,2019-05-19T23:26:58Z,3455 N Salida Court,"Fast Food Restaurants,Mexican Restaurants,Rest...",Accommodation & Food Services,Aurora,US,us/co/aurora/3455nsalidacourt/1143321601,39.76369,-104.77671,Chipotle Mexican Grill,80011,CO,https://www.yellowpages.com/aurora-co/mip/chip...,http://www.chipotle.com
4,AWrSaVGzZ4Yw-wtdgcaB,2019-05-19T23:24:38Z,2019-05-19T23:24:38Z,5225 E Colfax Avenue,"Fast Food Restaurants,Mexican Restaurants,Rest...",Accommodation & Food Services,Denver,US,us/co/denver/5225ecolfaxavenue/-864103396,39.74044,-104.92636,Taco Bell,80220,CO,https://www.yellowpages.com/denver-co/mip/taco...,https://locations.tacobell.com/co/denver/5225-...

In [31]:
#US state population data from wikipedia
url = 'https://simple.wikipedia.org/wiki/List_of_U.S._states_by_population'
pop_df = pd.read_html(url)[0]
pop_df

,"Rank in states & territories, 2019","Rank in states & territories, 2010",State,"Population estimate, July 1, 2019[2]","Census population, April 1, 2010[3]","Percent change, 2010–2019[note 1]","Absolute change, 2010-2019","Total seats in the U.S. House of Representatives, 2013–2023","Estimated population per electoral vote, 2019[note 2]","Estimated population per House seat, 2019","Census population per House seat, 2010","Percent of the total U.S. population, 2018[note 3]"
0,1.0,NaN,California,39512223,37254523,6.1%,"+2,257,700",NaN,718404,745514,702885,11.96%
1,NaN,NaN,Texas,28995881,25145561,15.3%,"+3,850,320",NaN,763050,805441,698503,8.68%
2,NaN,NaN,Florida,21477737,18801310,14.2%,"+2,676,427",NaN,740611,795472,696468,6.44%
3,NaN,NaN,New York,19453561,19378102,0.4%,"+75,459",NaN,670812,720502,717707,5.91%
4,NaN,NaN,Pennsylvania,12801989,12702379,0.8%,"+99,610",NaN,640099,711222,705715,3.87%
5,NaN,NaN,Illinois,12671821,12830632,-1.2%,"−158,811",NaN,633591,703990,712864,3.85%
6,NaN,NaN,Ohio,11689100,11536504,1.3%,"+152,596",NaN,649394,730569,721032,3.53%
7,NaN,NaN,Georgia,10617423,9687653,9.6%,"+929,770",NaN,663589,758387,691975,3.18%
8,NaN,NaN,North Carolina,10488084,9535483,10.0%,"+952,601",NaN,699206,806776,733498,3.14%
9,NaN,NaN,Michigan,9986857,9883640,1.0%,"+103,217",NaN,624179,713347,705974,3.02%
10,NaN,NaN,New Jersey,8882190,8791894,1.0%,"+90,296",NaN,634442,740183,732658,2.69%
11,NaN,NaN,Virginia,8535519,8001024,6.7%,"+534,495",NaN,656578,775956,727366,2.58%
12,NaN,NaN,Washington,7614893,6724540,13.2%,"+890,353",NaN,634574,751489,672454,2.28%
13,NaN,NaN,Arizona,7278717,6392017,13.9%,"+886,700",NaN,661702,808746,710224,2.17%
14,NaN,NaN,Massachusetts,6949503,6547629,5.3%,"+344,874",NaN,626591,765834,727514,2.09%
15,NaN,NaN,Tennessee,6833174,6346105,7.6%,"+483,069",NaN,620834,758797,705123,2.05%
16,NaN,NaN,Indiana,6732219,6483802,3.8%,"+248,417",NaN,612020,748024,720422,2.02%
17,NaN,NaN,Missouri,6137428,5988927,2.5%,"+148,501",NaN,613743,767179,748615,1.85%
18,NaN,NaN,Maryland,6045680,5773552,4.7%,"+272,128",NaN,604568,755710,721694,1.83%
19,NaN,NaN,Wisconsin,5822434,5686986,2.4%,"+135,448",NaN,582243,727804,710873,1.76%
20,NaN,NaN,Colorado,5758736,5029196,14.5%,"+729,540",NaN,639860,822677,720704,1.72%
21,NaN,NaN,Minnesota,5639632,5303925,6.3%,"+335,707",NaN,563963,704954,662991,1.70%
22,NaN,NaN,South Carolina,5148714,4625364,11.3%,"+523,350",NaN,572079,735531,660766,1.54%
23,NaN,NaN,Alabama,4903185,4779736,2.6%,"+123,449",NaN,544798,700455,682819,1.48%
24,NaN,NaN,Louisiana,4648794,4533372,2.5%,"+115,422",NaN,581099,774799,755562,1.41%
25,NaN,NaN,Kentucky,4467673,4339367,3.0%,"+128,306",NaN,558459,744612,723228,1.35%
26,NaN,NaN,Oregon,4217737,3831074,10.1%,"+386,663",NaN,602534,843547,766215,1.27%
27,NaN,NaN,Oklahoma,3956971,3751351,5.5%,"+205,620",NaN,565282,791394,750270,1.19%
28,NaN,NaN,Connecticut,3565287,3574097,-0.2%,"−8,810",NaN,509327,713057,714824,1.08%
29,NaN,NaN,Utah,3205958,2763885,16.0%,"+442,073",NaN,534326,801490,690972,0.96%
30,NaN,NaN,Iowa,3155070,3046355,3.6%,"+108,715",NaN,525845,788768,761717,0.95%
31,NaN,NaN,Puerto Rico,3193694,3725789,-14.3%,"−532,095",1 (non-voting),—,3193694,3725789,0.97%
32,NaN,NaN,Nevada,3080156,2700551,14.1%,"+379,605",NaN,513359,770039,675173,0.92%
33,NaN,NaN,Arkansas,3017825,2915918,3.5%,"+101,886",NaN,502967,754451,728990,0.91%
34,NaN,NaN,Mississippi,2976149,2967297,0.3%,"+8,852",NaN,496024,744037,742026,0.90%
35,NaN,NaN,Kansas,2913314,2853118,2.1%,"+60,196",NaN,485552,728329,713280,0.88%
36,NaN,NaN,New Mexico,2096829,2059179,1.8%,"+37,650",NaN,419366,698943,686393,0.63%
37,NaN,NaN,Nebraska,1934408,1826341,5.9%,"+108,067",NaN,386882,644803,608780,0.58%
38,NaN,NaN,Idaho,1787065,1567582,14.0%,"+219,483",NaN,446516,893033,783826,0.53%
39,NaN,NaN,West Virginia,1792147,1852994,-3.3%,"−60,847",NaN,358435,597391,617670,0.55%
40,NaN,NaN,Hawaii,1415872,1360301,4.1%,"+55,571",NaN,353968,707936,680151,0.43%
41,NaN,NaN,New Hampshire,1359711,1316470,3.3%,"+43,241",NaN,339928,679856,658233,0.41%
42,NaN,NaN,Maine,1344212,1328361,1.2%,"+15,851",NaN,336053,672106,664181,0.40%
43,NaN,NaN,Montana,1068778,989415,8.0%,"+79,363",NaN,356259,1068778,989417,0.32%
44,NaN,NaN,Rhode Island,1059361,1052567,0.6%,"+6,794",NaN,264840,529681,526466,0.32%
45,NaN,NaN,Delaware,973764,897934,8.4%,"+75,830",NaN,324588,973764,897934,0.29%
46,NaN,NaN,South Dakota,884659,814180,8.7%,"+70,479",NaN,294886,884659,814180,0.27%
47,NaN,NaN,North Dakota,762062,672591,13.3%,"+89,471",NaN,254021,762062,672591,0.23%
48,NaN,NaN,Alaska,731545,710231,3.0%,"+21,314",NaN,243848,731545,710231,0.22%
49,NaN,NaN,District of Columbia,705749,601723,17.3%,"+104,026",1 (non-voting),235250,—,—,0.21%
50,NaN,NaN,Vermont,623989,625741,-0.3%,-1752,NaN,207996,623989,625741,0.19%
51,NaN,NaN,Wyoming,578759,563626,2.7%,"+15,133",NaN,192920,578759,563626,0.17%
52,NaN,NaN,Guam,165718,"159,358[4]",4.0%,"+6,360",1 (non-voting),NaN,—,—,0.05%
53,NaN,NaN,U.S. Virgin Islands,104914,"106,405[5]",-1.4%,"−1,491",1 (non-voting),NaN,—,—,0.03%
54,NaN,NaN,American Samoa,55641,"55,519[6]",0.22%,+122,1 (non-voting),NaN,—,—,0.02%
55,NaN,NaN,Northern Mariana Islands,55194,"53,883[7]",2.4%,"+1,311",1 (non-voting),NaN,—,—,0.02%
56,NaN,NaN,Contiguous United States,325386357,306675006,6.2%,"+19,011,351",432,616262,753209,708285,98.38%
57,NaN,NaN,The fifty states,327533795,308143836,6.3%,"+19,389,959",435,612213,752951,708405,99.02%
58,NaN,NaN,Fifty states + D.C.,328300544,308745538,6.3%,"+19,493,985",435 (+ 1 non-voting),610111,—,—,99.24%
59,NaN,NaN,Total U.S. (including D.C. and territories),331814684,312846492,5.7%,"+17,897,562",435 (+ 6 non-voting),NaN,—,—,100.00%

In [32]:
#get state abbreviations
abbr_url= 'https://simple.wikipedia.org/wiki/U.S._postal_abbreviations#States'
state_abbr = pd.read_html(abbr_url)[1]
state_abbr

   State Abbreviation      State Name
0                  AK          Alaska
1                  AL         Alabama
2                  AR        Arkansas
3                  AZ         Arizona
4                  CA      California
5                  CO        Colorado
6                  CT     Connecticut
7                  DE        Delaware
8                  FL         Florida
9                  GA         Georgia
10                 HI          Hawaii
11                 IA            Iowa
12                 ID           Idaho
13                 IL        Illinois
14                 IN         Indiana
15                 KS          Kansas
16                 KY        Kentucky
17                 LA       Louisiana
18                 MA   Massachusetts
19                 MD        Maryland
20                 ME           Maine
21                 MI        Michigan
22                 MN       Minnesota
23                 MO        Missouri
24                 MS     Mississippi
25                 MT         Montana
26                 NC  North Carolina
27                 ND    North Dakota
28                 NE        Nebraska
29                 NH   New Hampshire
30                 NJ      New Jersey
31                 NM      New Mexico
32                 NV          Nevada
33                 NY        New York
34                 OH            Ohio
35                 OK        Oklahoma
36                 OR          Oregon
37                 PA    Pennsylvania
38                 RI    Rhode Island
39                 SC  South Carolina
40                 SD    South Dakota
41                 TN       Tennessee
42                 TX           Texas
43                 UT            Utah
44                 VA        Virginia
45                 VT         Vermont
46                 WA      Washington
47                 WI       Wisconsin
48                 WV   West Virginia
49                 WY         Wyoming

## Transforming data

In [33]:
#Creating a filtered dataframe from specific columns
fast_food_cols = ['id', 'categories', 'city', 'name', 'province']
fast_food_transformed = fast_food_df[fast_food_cols].copy()
fast_food_transformed

,id,categories,city,name,province
0,AWrSh_KgsVYjT2BJAzaH,"Fast Food Restaurants,Hamburgers and Hot Dogs,...",Greeley,Carl's Jr.,CO
1,AWEKlA-LIxWefVJwxG9B,"Restaurant,Mexican Restaurants,Fast Food Resta...",Grand Junction,Del Taco,CO
2,AWrSfAcYsVYjT2BJAzPt,"Sandwich Shops,Fast Food Restaurants,Restauran...",Grand Junction,Which Wich,CO
3,AWrSa3NAQTFama1Xpkbz,"Fast Food Restaurants,Mexican Restaurants,Rest...",Aurora,Chipotle Mexican Grill,CO
4,AWrSaVGzZ4Yw-wtdgcaB,"Fast Food Restaurants,Mexican Restaurants,Rest...",Denver,Taco Bell,CO
...,...,...,...,...,...
9995,AVwd7U0T_7pvs4fz-fS_,"American Restaurants,Caterers,Soul Food Restau...",Bessemer,Church's Chicken Of Birmingham,AL
9996,AV1XW1fF3D1zeR_xFKHL,"Mexican Restaurants,Caterers,Delicatessens,Iri...",Raleigh,Luxury Box,NC
9997,AV5UVbkiRxPSIh2RiQxV,"Carry-out food,Hot dog restaurants,Fast Food R...",Plover,McDonald's,WI
9998,AVwc9BxYByjofQCxj_GW,"Carry-out food,Caterers,Restaurant delivery se...",Hendersonville,Pizza Hut,TN
9999,AVzA_GF53D1zeR_xBDVW,"Fast Food Restaurant,Restaurants",Durham,Burger King,NC

In [34]:
#Rename columns
fast_food_transformed = fast_food_transformed.rename(columns={'id': 'ID', 'categories':'Categories', 
                                                              'city':'City',
                                                              'name':'Restaurant_Name', 'province': 'State'})
fast_food_transformed

,ID,Categories,City,Restaurant_Name,State
0,AWrSh_KgsVYjT2BJAzaH,"Fast Food Restaurants,Hamburgers and Hot Dogs,...",Greeley,Carl's Jr.,CO
1,AWEKlA-LIxWefVJwxG9B,"Restaurant,Mexican Restaurants,Fast Food Resta...",Grand Junction,Del Taco,CO
2,AWrSfAcYsVYjT2BJAzPt,"Sandwich Shops,Fast Food Restaurants,Restauran...",Grand Junction,Which Wich,CO
3,AWrSa3NAQTFama1Xpkbz,"Fast Food Restaurants,Mexican Restaurants,Rest...",Aurora,Chipotle Mexican Grill,CO
4,AWrSaVGzZ4Yw-wtdgcaB,"Fast Food Restaurants,Mexican Restaurants,Rest...",Denver,Taco Bell,CO
...,...,...,...,...,...
9995,AVwd7U0T_7pvs4fz-fS_,"American Restaurants,Caterers,Soul Food Restau...",Bessemer,Church's Chicken Of Birmingham,AL
9996,AV1XW1fF3D1zeR_xFKHL,"Mexican Restaurants,Caterers,Delicatessens,Iri...",Raleigh,Luxury Box,NC
9997,AV5UVbkiRxPSIh2RiQxV,"Carry-out food,Hot dog restaurants,Fast Food R...",Plover,McDonald's,WI
9998,AVwc9BxYByjofQCxj_GW,"Carry-out food,Caterers,Restaurant delivery se...",Hendersonville,Pizza Hut,TN
9999,AVzA_GF53D1zeR_xBDVW,"Fast Food Restaurant,Restaurants",Durham,Burger King,NC

In [35]:
state_pop = ['State', 'Population estimate, July 1, 2019[2]', 'Percent change, 2010–2019[note 1]', 'Percent of the total U.S. population, 2018[note 3]']
populate_by_state = pop_df[state_pop].copy()
populate_by_state

,State,"Population estimate, July 1, 2019[2]","Percent change, 2010–2019[note 1]","Percent of the total U.S. population, 2018[note 3]"
0,California,39512223,6.1%,11.96%
1,Texas,28995881,15.3%,8.68%
2,Florida,21477737,14.2%,6.44%
3,New York,19453561,0.4%,5.91%
4,Pennsylvania,12801989,0.8%,3.87%
5,Illinois,12671821,-1.2%,3.85%
6,Ohio,11689100,1.3%,3.53%
7,Georgia,10617423,9.6%,3.18%
8,North Carolina,10488084,10.0%,3.14%
9,Michigan,9986857,1.0%,3.02%
10,New Jersey,8882190,1.0%,2.69%
11,Virginia,8535519,6.7%,2.58%
12,Washington,7614893,13.2%,2.28%
13,Arizona,7278717,13.9%,2.17%
14,Massachusetts,6949503,5.3%,2.09%
15,Tennessee,6833174,7.6%,2.05%
16,Indiana,6732219,3.8%,2.02%
17,Missouri,6137428,2.5%,1.85%
18,Maryland,6045680,4.7%,1.83%
19,Wisconsin,5822434,2.4%,1.76%
20,Colorado,5758736,14.5%,1.72%
21,Minnesota,5639632,6.3%,1.70%
22,South Carolina,5148714,11.3%,1.54%
23,Alabama,4903185,2.6%,1.48%
24,Louisiana,4648794,2.5%,1.41%
25,Kentucky,4467673,3.0%,1.35%
26,Oregon,4217737,10.1%,1.27%
27,Oklahoma,3956971,5.5%,1.19%
28,Connecticut,3565287,-0.2%,1.08%
29,Utah,3205958,16.0%,0.96%
30,Iowa,3155070,3.6%,0.95%
31,Puerto Rico,3193694,-14.3%,0.97%
32,Nevada,3080156,14.1%,0.92%
33,Arkansas,3017825,3.5%,0.91%
34,Mississippi,2976149,0.3%,0.90%
35,Kansas,2913314,2.1%,0.88%
36,New Mexico,2096829,1.8%,0.63%
37,Nebraska,1934408,5.9%,0.58%
38,Idaho,1787065,14.0%,0.53%
39,West Virginia,1792147,-3.3%,0.55%
40,Hawaii,1415872,4.1%,0.43%
41,New Hampshire,1359711,3.3%,0.41%
42,Maine,1344212,1.2%,0.40%
43,Montana,1068778,8.0%,0.32%
44,Rhode Island,1059361,0.6%,0.32%
45,Delaware,973764,8.4%,0.29%
46,South Dakota,884659,8.7%,0.27%
47,North Dakota,762062,13.3%,0.23%
48,Alaska,731545,3.0%,0.22%
49,District of Columbia,705749,17.3%,0.21%
50,Vermont,623989,-0.3%,0.19%
51,Wyoming,578759,2.7%,0.17%
52,Guam,165718,4.0%,0.05%
53,U.S. Virgin Islands,104914,-1.4%,0.03%
54,American Samoa,55641,0.22%,0.02%
55,Northern Mariana Islands,55194,2.4%,0.02%
56,Contiguous United States,325386357,6.2%,98.38%
57,The fifty states,327533795,6.3%,99.02%
58,Fifty states + D.C.,328300544,6.3%,99.24%
59,Total U.S. (including D.C. and territories),331814684,5.7%,100.00%

In [36]:
populate_by_state = populate_by_state.drop([31,49,52,53,54,55,56,57,58,59])
populate_by_state=populate_by_state.reset_index()

In [37]:
populate_by_state

,index,State,"Population estimate, July 1, 2019[2]","Percent change, 2010–2019[note 1]","Percent of the total U.S. population, 2018[note 3]"
0,0,California,39512223,6.1%,11.96%
1,1,Texas,28995881,15.3%,8.68%
2,2,Florida,21477737,14.2%,6.44%
3,3,New York,19453561,0.4%,5.91%
4,4,Pennsylvania,12801989,0.8%,3.87%
5,5,Illinois,12671821,-1.2%,3.85%
6,6,Ohio,11689100,1.3%,3.53%
7,7,Georgia,10617423,9.6%,3.18%
8,8,North Carolina,10488084,10.0%,3.14%
9,9,Michigan,9986857,1.0%,3.02%
10,10,New Jersey,8882190,1.0%,2.69%
11,11,Virginia,8535519,6.7%,2.58%
12,12,Washington,7614893,13.2%,2.28%
13,13,Arizona,7278717,13.9%,2.17%
14,14,Massachusetts,6949503,5.3%,2.09%
15,15,Tennessee,6833174,7.6%,2.05%
16,16,Indiana,6732219,3.8%,2.02%
17,17,Missouri,6137428,2.5%,1.85%
18,18,Maryland,6045680,4.7%,1.83%
19,19,Wisconsin,5822434,2.4%,1.76%
20,20,Colorado,5758736,14.5%,1.72%
21,21,Minnesota,5639632,6.3%,1.70%
22,22,South Carolina,5148714,11.3%,1.54%
23,23,Alabama,4903185,2.6%,1.48%
24,24,Louisiana,4648794,2.5%,1.41%
25,25,Kentucky,4467673,3.0%,1.35%
26,26,Oregon,4217737,10.1%,1.27%
27,27,Oklahoma,3956971,5.5%,1.19%
28,28,Connecticut,3565287,-0.2%,1.08%
29,29,Utah,3205958,16.0%,0.96%
30,30,Iowa,3155070,3.6%,0.95%
31,32,Nevada,3080156,14.1%,0.92%
32,33,Arkansas,3017825,3.5%,0.91%
33,34,Mississippi,2976149,0.3%,0.90%
34,35,Kansas,2913314,2.1%,0.88%
35,36,New Mexico,2096829,1.8%,0.63%
36,37,Nebraska,1934408,5.9%,0.58%
37,38,Idaho,1787065,14.0%,0.53%
38,39,West Virginia,1792147,-3.3%,0.55%
39,40,Hawaii,1415872,4.1%,0.43%
40,41,New Hampshire,1359711,3.3%,0.41%
41,42,Maine,1344212,1.2%,0.40%
42,43,Montana,1068778,8.0%,0.32%
43,44,Rhode Island,1059361,0.6%,0.32%
44,45,Delaware,973764,8.4%,0.29%
45,46,South Dakota,884659,8.7%,0.27%
46,47,North Dakota,762062,13.3%,0.23%
47,48,Alaska,731545,3.0%,0.22%
48,50,Vermont,623989,-0.3%,0.19%
49,51,Wyoming,578759,2.7%,0.17%

In [38]:
us_state_population=pd.merge(populate_by_state, state_abbr, left_on='State', right_on='State Name')
us_state_population

,index,State,"Population estimate, July 1, 2019[2]","Percent change, 2010–2019[note 1]","Percent of the total U.S. population, 2018[note 3]",State Abbreviation,State Name
0,0,California,39512223,6.1%,11.96%,CA,California
1,1,Texas,28995881,15.3%,8.68%,TX,Texas
2,2,Florida,21477737,14.2%,6.44%,FL,Florida
3,3,New York,19453561,0.4%,5.91%,NY,New York
4,4,Pennsylvania,12801989,0.8%,3.87%,PA,Pennsylvania
5,5,Illinois,12671821,-1.2%,3.85%,IL,Illinois
6,6,Ohio,11689100,1.3%,3.53%,OH,Ohio
7,7,Georgia,10617423,9.6%,3.18%,GA,Georgia
8,8,North Carolina,10488084,10.0%,3.14%,NC,North Carolina
9,9,Michigan,9986857,1.0%,3.02%,MI,Michigan
10,10,New Jersey,8882190,1.0%,2.69%,NJ,New Jersey
11,11,Virginia,8535519,6.7%,2.58%,VA,Virginia
12,12,Washington,7614893,13.2%,2.28%,WA,Washington
13,13,Arizona,7278717,13.9%,2.17%,AZ,Arizona
14,14,Massachusetts,6949503,5.3%,2.09%,MA,Massachusetts
15,15,Tennessee,6833174,7.6%,2.05%,TN,Tennessee
16,16,Indiana,6732219,3.8%,2.02%,IN,Indiana
17,17,Missouri,6137428,2.5%,1.85%,MO,Missouri
18,18,Maryland,6045680,4.7%,1.83%,MD,Maryland
19,19,Wisconsin,5822434,2.4%,1.76%,WI,Wisconsin
20,20,Colorado,5758736,14.5%,1.72%,CO,Colorado
21,21,Minnesota,5639632,6.3%,1.70%,MN,Minnesota
22,22,South Carolina,5148714,11.3%,1.54%,SC,South Carolina
23,23,Alabama,4903185,2.6%,1.48%,AL,Alabama
24,24,Louisiana,4648794,2.5%,1.41%,LA,Louisiana
25,25,Kentucky,4467673,3.0%,1.35%,KY,Kentucky
26,26,Oregon,4217737,10.1%,1.27%,OR,Oregon
27,27,Oklahoma,3956971,5.5%,1.19%,OK,Oklahoma
28,28,Connecticut,3565287,-0.2%,1.08%,CT,Connecticut
29,29,Utah,3205958,16.0%,0.96%,UT,Utah
30,30,Iowa,3155070,3.6%,0.95%,IA,Iowa
31,32,Nevada,3080156,14.1%,0.92%,NV,Nevada
32,33,Arkansas,3017825,3.5%,0.91%,AR,Arkansas
33,34,Mississippi,2976149,0.3%,0.90%,MS,Mississippi
34,35,Kansas,2913314,2.1%,0.88%,KS,Kansas
35,36,New Mexico,2096829,1.8%,0.63%,NM,New Mexico
36,37,Nebraska,1934408,5.9%,0.58%,NE,Nebraska
37,38,Idaho,1787065,14.0%,0.53%,ID,Idaho
38,39,West Virginia,1792147,-3.3%,0.55%,WV,West Virginia
39,40,Hawaii,1415872,4.1%,0.43%,HI,Hawaii
40,41,New Hampshire,1359711,3.3%,0.41%,NH,New Hampshire
41,42,Maine,1344212,1.2%,0.40%,ME,Maine
42,43,Montana,1068778,8.0%,0.32%,MT,Montana
43,44,Rhode Island,1059361,0.6%,0.32%,RI,Rhode Island
44,45,Delaware,973764,8.4%,0.29%,DE,Delaware
45,46,South Dakota,884659,8.7%,0.27%,SD,South Dakota
46,47,North Dakota,762062,13.3%,0.23%,ND,North Dakota
47,48,Alaska,731545,3.0%,0.22%,AK,Alaska
48,50,Vermont,623989,-0.3%,0.19%,VT,Vermont
49,51,Wyoming,578759,2.7%,0.17%,WY,Wyoming

In [39]:
us_state_population=us_state_population.drop(["State", "Percent change, 2010–2019[note 1]"], axis=1)
us_state_population=us_state_population[["index","State Abbreviation", "State Name",'Population estimate, July 1, 2019[2]',
       'Percent of the total U.S. population, 2018[note 3]']]
us_state_population=us_state_population.rename (columns={'index': 'id', 'Population estimate, July 1, 2019[2]':"Population",
       'Percent of the total U.S. population, 2018[note 3]':"Percent of Total Population"})

In [40]:
us_state_population

,id,State Abbreviation,State Name,Population,Percent of Total Population
0,0,CA,California,39512223,11.96%
1,1,TX,Texas,28995881,8.68%
2,2,FL,Florida,21477737,6.44%
3,3,NY,New York,19453561,5.91%
4,4,PA,Pennsylvania,12801989,3.87%
5,5,IL,Illinois,12671821,3.85%
6,6,OH,Ohio,11689100,3.53%
7,7,GA,Georgia,10617423,3.18%
8,8,NC,North Carolina,10488084,3.14%
9,9,MI,Michigan,9986857,3.02%
10,10,NJ,New Jersey,8882190,2.69%
11,11,VA,Virginia,8535519,2.58%
12,12,WA,Washington,7614893,2.28%
13,13,AZ,Arizona,7278717,2.17%
14,14,MA,Massachusetts,6949503,2.09%
15,15,TN,Tennessee,6833174,2.05%
16,16,IN,Indiana,6732219,2.02%
17,17,MO,Missouri,6137428,1.85%
18,18,MD,Maryland,6045680,1.83%
19,19,WI,Wisconsin,5822434,1.76%
20,20,CO,Colorado,5758736,1.72%
21,21,MN,Minnesota,5639632,1.70%
22,22,SC,South Carolina,5148714,1.54%
23,23,AL,Alabama,4903185,1.48%
24,24,LA,Louisiana,4648794,1.41%
25,25,KY,Kentucky,4467673,1.35%
26,26,OR,Oregon,4217737,1.27%
27,27,OK,Oklahoma,3956971,1.19%
28,28,CT,Connecticut,3565287,1.08%
29,29,UT,Utah,3205958,0.96%
30,30,IA,Iowa,3155070,0.95%
31,32,NV,Nevada,3080156,0.92%
32,33,AR,Arkansas,3017825,0.91%
33,34,MS,Mississippi,2976149,0.90%
34,35,KS,Kansas,2913314,0.88%
35,36,NM,New Mexico,2096829,0.63%
36,37,NE,Nebraska,1934408,0.58%
37,38,ID,Idaho,1787065,0.53%
38,39,WV,West Virginia,1792147,0.55%
39,40,HI,Hawaii,1415872,0.43%
40,41,NH,New Hampshire,1359711,0.41%
41,42,ME,Maine,1344212,0.40%
42,43,MT,Montana,1068778,0.32%
43,44,RI,Rhode Island,1059361,0.32%
44,45,DE,Delaware,973764,0.29%
45,46,SD,South Dakota,884659,0.27%
46,47,ND,North Dakota,762062,0.23%
47,48,AK,Alaska,731545,0.22%
48,50,VT,Vermont,623989,0.19%
49,51,WY,Wyoming,578759,0.17%

# Loading data into database

In [ ]:
from sqlalchemy import create_engine

In [ ]:
#connect to local database
rds_connection_string = "todda:pwd1!@#$@localhost:5432/restaurant_db"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [ ]:
engine.table_names()

In [ ]:
us_state_population.to_sql(name='state_population', con=engine, if_exists='append', index=False)

In [ ]:
pd.read_sql_query('select * from state_population', con=engine).head()

In [ ]:
fast_food_transformed.columns

In [ ]:
fast_food_transformed.to_sql(name="restaurant", con=engine, if_exists='append', index=False)

In [ ]:
pd.read_sql_query('select * from restaurant', con=engine).head()