# ETL Project

## Import Dependencies and Setup

In [5]:

import pandas as pd
from sqlalchemy import create_engine

## Extract data

In [6]:
fast_food_file = 'Resources/Fast_Food_Restaurants.csv'

In [7]:
fast_food_df = pd.read_csv(fast_food_file)
fast_food_df.head()

,id,dateAdded,dateUpdated,address,categories,primaryCategories,city,country,keys,latitude,longitude,name,postalCode,province,sourceURLs,websites
0,AWrSh_KgsVYjT2BJAzaH,2019-05-19T23:58:05Z,2019-05-19T23:58:05Z,2555 11th Avenue,"Fast Food Restaurants,Hamburgers and Hot Dogs,...",Accommodation & Food Services,Greeley,US,us/co/greeley/255511thavenue/554191587,40.39629,-104.69699,Carl's Jr.,80631,CO,https://www.yellowpages.com/greeley-co/mip/car...,https://www.carlsjr.com/?utm_source=Yextandutm...
1,AWEKlA-LIxWefVJwxG9B,2018-01-18T18:30:23Z,2019-05-19T23:45:05Z,2513 Highway 6 And 50,"Restaurant,Mexican Restaurants,Fast Food Resta...",Accommodation & Food Services,Grand Junction,US,us/co/grandjunction/2513highway6and50/1550891556,39.08135,-108.58689,Del Taco,81505,CO,http://www.citysearch.com/profile/772076870/gr...,http://www.deltaco.com
2,AWrSfAcYsVYjT2BJAzPt,2019-05-19T23:45:04Z,2019-05-19T23:45:04Z,1125 Patterson Road,"Sandwich Shops,Fast Food Restaurants,Restauran...",Accommodation & Food Services,Grand Junction,US,us/co/grandjunction/1125pattersonroad/-2137447852,39.09148,-108.55411,Which Wich,81506,CO,https://www.yellowpages.com/grand-junction-co/...,http://www.whichwich.com
3,AWrSa3NAQTFama1Xpkbz,2019-05-19T23:26:58Z,2019-05-19T23:26:58Z,3455 N Salida Court,"Fast Food Restaurants,Mexican Restaurants,Rest...",Accommodation & Food Services,Aurora,US,us/co/aurora/3455nsalidacourt/1143321601,39.76369,-104.77671,Chipotle Mexican Grill,80011,CO,https://www.yellowpages.com/aurora-co/mip/chip...,http://www.chipotle.com
4,AWrSaVGzZ4Yw-wtdgcaB,2019-05-19T23:24:38Z,2019-05-19T23:24:38Z,5225 E Colfax Avenue,"Fast Food Restaurants,Mexican Restaurants,Rest...",Accommodation & Food Services,Denver,US,us/co/denver/5225ecolfaxavenue/-864103396,39.74044,-104.92636,Taco Bell,80220,CO,https://www.yellowpages.com/denver-co/mip/taco...,https://locations.tacobell.com/co/denver/5225-...

## Transforming data

In [8]:
#Creating a filtered dataframe from specific columns
fast_food_cols = ['id', 'categories', 'city', 'name', 'province']
fast_food_transformed = fast_food_df[fast_food_cols].copy()
fast_food_transformed

,id,categories,city,name,province
0,AWrSh_KgsVYjT2BJAzaH,"Fast Food Restaurants,Hamburgers and Hot Dogs,...",Greeley,Carl's Jr.,CO
1,AWEKlA-LIxWefVJwxG9B,"Restaurant,Mexican Restaurants,Fast Food Resta...",Grand Junction,Del Taco,CO
2,AWrSfAcYsVYjT2BJAzPt,"Sandwich Shops,Fast Food Restaurants,Restauran...",Grand Junction,Which Wich,CO
3,AWrSa3NAQTFama1Xpkbz,"Fast Food Restaurants,Mexican Restaurants,Rest...",Aurora,Chipotle Mexican Grill,CO
4,AWrSaVGzZ4Yw-wtdgcaB,"Fast Food Restaurants,Mexican Restaurants,Rest...",Denver,Taco Bell,CO
...,...,...,...,...,...
9995,AVwd7U0T_7pvs4fz-fS_,"American Restaurants,Caterers,Soul Food Restau...",Bessemer,Church's Chicken Of Birmingham,AL
9996,AV1XW1fF3D1zeR_xFKHL,"Mexican Restaurants,Caterers,Delicatessens,Iri...",Raleigh,Luxury Box,NC
9997,AV5UVbkiRxPSIh2RiQxV,"Carry-out food,Hot dog restaurants,Fast Food R...",Plover,McDonald's,WI
9998,AVwc9BxYByjofQCxj_GW,"Carry-out food,Caterers,Restaurant delivery se...",Hendersonville,Pizza Hut,TN
9999,AVzA_GF53D1zeR_xBDVW,"Fast Food Restaurant,Restaurants",Durham,Burger King,NC

In [9]:
#Rename columns
fast_food_transformed = fast_food_transformed.rename(columns={'id': 'ID', 'categories':'Categories', 
                                                              'city':'City',
                                                              'name':'Restaurant_Name', 'province': 'State'})
fast_food_transformed

,ID,Categories,City,Restaurant_Name,State
0,AWrSh_KgsVYjT2BJAzaH,"Fast Food Restaurants,Hamburgers and Hot Dogs,...",Greeley,Carl's Jr.,CO
1,AWEKlA-LIxWefVJwxG9B,"Restaurant,Mexican Restaurants,Fast Food Resta...",Grand Junction,Del Taco,CO
2,AWrSfAcYsVYjT2BJAzPt,"Sandwich Shops,Fast Food Restaurants,Restauran...",Grand Junction,Which Wich,CO
3,AWrSa3NAQTFama1Xpkbz,"Fast Food Restaurants,Mexican Restaurants,Rest...",Aurora,Chipotle Mexican Grill,CO
4,AWrSaVGzZ4Yw-wtdgcaB,"Fast Food Restaurants,Mexican Restaurants,Rest...",Denver,Taco Bell,CO
...,...,...,...,...,...
9995,AVwd7U0T_7pvs4fz-fS_,"American Restaurants,Caterers,Soul Food Restau...",Bessemer,Church's Chicken Of Birmingham,AL
9996,AV1XW1fF3D1zeR_xFKHL,"Mexican Restaurants,Caterers,Delicatessens,Iri...",Raleigh,Luxury Box,NC
9997,AV5UVbkiRxPSIh2RiQxV,"Carry-out food,Hot dog restaurants,Fast Food R...",Plover,McDonald's,WI
9998,AVwc9BxYByjofQCxj_GW,"Carry-out food,Caterers,Restaurant delivery se...",Hendersonville,Pizza Hut,TN
9999,AVzA_GF53D1zeR_xBDVW,"Fast Food Restaurant,Restaurants",Durham,Burger King,NC

In [10]:
fast_food_state = fast_food_transformed.groupby('State').count()#(['State', 'Restaurant_Name']).count()
fast_food_state.rename(columns={'Restaurant_Name': 'Restaurant_Count'}, inplace = True)
fast_food_state

        ID  Categories  City  Restaurant_Count
State
AK      64          64    64                64
AL     635         635   635               635
AR     124         124   124               124
AZ     186         186   186               186
CA     727         727   727               727
CO     154         154   154               154
CT       1           1     1                 1
DC      18          18    18                18
DE      25          25    25                25
FL     739         739   739               739
GA     238         238   238               238
HI      91          91    91                91
IA     107         107   107               107
ID      65          65    65                65
IL     305         305   305               305
IN     519         519   519               519
KS      92          92    92                92
KY     142         142   142               142
LA     161         161   161               161
MA       2           2     2                 2
MD     114         114   114               114
MI     210         210   210               210
MN      83          83    83                83
MO     244         244   244               244
MS      99          99    99                99
MT      33          33    33                33
NC     663         663   663               663
ND      18          18    18                18
NE      74          74    74                74
NJ       2           2     2                 2
NM      69          69    69                69
NV      96          96    96                96
NY     173         173   173               173
OH     922         922   922               922
OK     147         147   147               147
OR     334         334   334               334
PA     194         194   194               194
SC     322         322   322               322
SD      27          27    27                27
TN     243         243   243               243
TX     426         426   426               426
UT      74          74    74                74
VA     348         348   348               348
WA     404         404   404               404
WI     112         112   112               112
WV     154         154   154               154
WY      20          20    20                20

In [11]:
#Sorting by states with most restaurants
fast_food_state[['Restaurant_Count']].sort_values('Restaurant_Count',ascending=False)

       Restaurant_Count
State
OH                  922
FL                  739
CA                  727
NC                  663
AL                  635
IN                  519
TX                  426
WA                  404
VA                  348
OR                  334
SC                  322
IL                  305
MO                  244
TN                  243
GA                  238
MI                  210
PA                  194
AZ                  186
NY                  173
LA                  161
CO                  154
WV                  154
OK                  147
KY                  142
AR                  124
MD                  114
WI                  112
IA                  107
MS                   99
NV                   96
KS                   92
HI                   91
MN                   83
UT                   74
NE                   74
NM                   69
ID                   65
AK                   64
MT                   33
SD                   27
DE                   25
WY                   20
ND                   18
DC                   18
NJ                    2
MA                    2
CT                    1

In [17]:
# Import population by state

population = "Resources/US_population_2018.csv"
population = pd.read_csv(population)
population.head()

,Unnamed: 0,State,"Population estimate, July 1, 2019[2]","Percent change, 2010–2019[note 1]","Percent of the total U.S. population, 2018[note 3]"
0,0,California,39512223,6.1%,11.96%
1,1,Texas,28995881,15.3%,8.68%
2,2,Florida,21477737,14.2%,6.44%
3,3,New York,19453561,0.4%,5.91%
4,4,Pennsylvania,12801989,0.8%,3.87%

In [13]:
# Push population to database under table name: population

population.to_sql(name='population', con=engine, if_exist="append", index=False)

AttributeError: 'str' object has no attribute 'to_sql'

In [18]:
#get state abbreviations
url= 'https://simple.wikipedia.org/wiki/U.S._postal_abbreviations#States'
tables = pd.read_html(url)
tables

[                                                    0               1
 0   State Abbreviation State Name AK Alaska AL Ala...             NaN
 1                                  State Abbreviation      State Name
 2                                                  AK          Alaska
 3                                                  AL         Alabama
 4                                                  AR        Arkansas
 5                                                  AZ         Arizona
 6                                                  CA      California
 7                                                  CO        Colorado
 8                                                  CT     Connecticut
 9                                                  DE        Delaware
 10                                                 FL         Florida
 11                                                 GA         Georgia
 12                                                 HI          Hawaii
 13                                                 IA            Iowa
 14                                                 ID           Idaho
 15                                                 IL        Illinois
 16                                                 IN         Indiana
 17                                                 KS          Kansas
 18                                                 KY        Kentucky
 19                                                 LA       Louisiana
 20                                                 MA   Massachusetts
 21                                                 MD        Maryland
 22                                                 ME           Maine
 23                                                 MI        Michigan
 24                                                 MN       Minnesota
 25                                                 MO        Missouri
 26                                                 MS     Mississippi
 27                                                 MT         Montana
 28                                                 NC  North Carolina
 29                                                 ND    North Dakota
 30                                                 NE        Nebraska
 31                                                 NH   New Hampshire
 32                                                 NJ      New Jersey
 33                                                 NM      New Mexico
 34                                                 NV          Nevada
 35                                                 NY        New York
 36                                                 OH            Ohio
 37                                                 OK        Oklahoma
 38                                                 OR          Oregon
 39                                                 PA    Pennsylvania
 40                                                 RI    Rhode Island
 41                                                 SC  South Carolina
 42                                                 SD    South Dakota
 43                                                 TN       Tennessee
 44                                                 TX           Texas
 45                                                 UT            Utah
 46                                                 VA        Virginia
 47                                                 VT         Vermont
 48                                                 WA      Washington
 49                                                 WI       Wisconsin
 50                                                 WV   West Virginia
 51                                                 WY         Wyoming,
    State Abbreviation      State Name
 0                  AK          Alaska
 1                  AL         Alabama
 2                  AR        Arkansas
 3                  AZ         Arizona
 4                  CA      California
 5                  CO        Colorado
 6                  CT     Connecticut
 7                  DE        Delaware
 8                  FL         Florida
 9                  GA         Georgia
 10                 HI          Hawaii
 11                 IA            Iowa
 12                 ID           Idaho
 13                 IL        Illinois
 14                 IN         Indiana
 15                 KS          Kansas
 16                 KY        Kentucky
 17                 LA       Louisiana
 18                 MA   Massachusetts
 19                 MD        Maryland
 20                 ME           Maine
 21                 MI        Michigan
 22                 MN       Minnesota
 23                 MO        Missouri
 24                 MS     Mississippi
 25                 MT         Montana
 26                 NC  North Carolina
 27                 ND    North Dakota
 28                 NE        Nebraska
 29                 NH   New Hampshire
 30                 NJ      New Jersey
 31                 NM      New Mexico
 32                 NV          Nevada
 33                 NY        New York
 34                 OH            Ohio
 35                 OK        Oklahoma
 36                 OR          Oregon
 37                 PA    Pennsylvania
 38                 RI    Rhode Island
 39                 SC  South Carolina
 40                 SD    South Dakota
 41                 TN       Tennessee
 42                 TX           Texas
 43                 UT            Utah
 44                 VA        Virginia
 45                 VT         Vermont
 46                 WA      Washington
 47                 WI       Wisconsin
 48                 WV   West Virginia
 49                 WY         Wyoming,
   Abbreviation              Location
 0           DC  District of Columbia,
   Abbreviation                  Location
 0           AS            American Samoa
 1           GU                      Guam
 2           MP  Northern Mariana Islands
 3           PR               Puerto Rico
 4           VI       U.S. Virgin Islands,
   Abbreviation                        Location
 0           FM  Federated States of Micronesia
 1           MH                Marshall Islands
 2           PW                           Palau,
   Abbreviation                                           Location
 0           AA              Armed Forces Americas (except Canada)
 1           AE  Armed Forces Europe (covers all USARAEUR)Armed...
 2           AP                               Armed Forces Pacific,
   Abbreviation                                Location
 0           CZ                              Canal Zone
 1           TT  Trust Territory of the Pacific Islands
 2           PI                             Rizal state]

In [19]:
abbr_df=tables[1]

abbr_df

   State Abbreviation      State Name
0                  AK          Alaska
1                  AL         Alabama
2                  AR        Arkansas
3                  AZ         Arizona
4                  CA      California
5                  CO        Colorado
6                  CT     Connecticut
7                  DE        Delaware
8                  FL         Florida
9                  GA         Georgia
10                 HI          Hawaii
11                 IA            Iowa
12                 ID           Idaho
13                 IL        Illinois
14                 IN         Indiana
15                 KS          Kansas
16                 KY        Kentucky
17                 LA       Louisiana
18                 MA   Massachusetts
19                 MD        Maryland
20                 ME           Maine
21                 MI        Michigan
22                 MN       Minnesota
23                 MO        Missouri
24                 MS     Mississippi
25                 MT         Montana
26                 NC  North Carolina
27                 ND    North Dakota
28                 NE        Nebraska
29                 NH   New Hampshire
30                 NJ      New Jersey
31                 NM      New Mexico
32                 NV          Nevada
33                 NY        New York
34                 OH            Ohio
35                 OK        Oklahoma
36                 OR          Oregon
37                 PA    Pennsylvania
38                 RI    Rhode Island
39                 SC  South Carolina
40                 SD    South Dakota
41                 TN       Tennessee
42                 TX           Texas
43                 UT            Utah
44                 VA        Virginia
45                 VT         Vermont
46                 WA      Washington
47                 WI       Wisconsin
48                 WV   West Virginia
49                 WY         Wyoming

In [20]:
populate_by_state=pd.merge(population, abbr_df, left_on='State', right_on='State Name')
populate_by_state.head()

,Unnamed: 0,State,"Population estimate, July 1, 2019[2]","Percent change, 2010–2019[note 1]","Percent of the total U.S. population, 2018[note 3]",State Abbreviation,State Name
0,0,California,39512223,6.1%,11.96%,CA,California
1,1,Texas,28995881,15.3%,8.68%,TX,Texas
2,2,Florida,21477737,14.2%,6.44%,FL,Florida
3,3,New York,19453561,0.4%,5.91%,NY,New York
4,4,Pennsylvania,12801989,0.8%,3.87%,PA,Pennsylvania

In [21]:
populate_by_state.columns

Index(['Unnamed: 0', 'State', 'Population estimate, July 1, 2019[2]',
       'Percent change, 2010–2019[note 1]',
       'Percent of the total U.S. population, 2018[note 3]',
       'State Abbreviation', 'State Name'],
      dtype='object')

In [22]:
populate_by_state=populate_by_state.drop(["Unnamed: 0", "State"], axis=1)

In [23]:
populate_by_state=populate_by_state[["State Abbreviation", "State Name",'Population estimate, July 1, 2019[2]',
       'Percent change, 2010–2019[note 1]',
       'Percent of the total U.S. population, 2018[note 3]']]

In [24]:
populate_by_state

,State Abbreviation,State Name,"Population estimate, July 1, 2019[2]","Percent change, 2010–2019[note 1]","Percent of the total U.S. population, 2018[note 3]"
0,CA,California,39512223,6.1%,11.96%
1,TX,Texas,28995881,15.3%,8.68%
2,FL,Florida,21477737,14.2%,6.44%
3,NY,New York,19453561,0.4%,5.91%
4,PA,Pennsylvania,12801989,0.8%,3.87%
5,IL,Illinois,12671821,-1.2%,3.85%
6,OH,Ohio,11689100,1.3%,3.53%
7,GA,Georgia,10617423,9.6%,3.18%
8,NC,North Carolina,10488084,10.0%,3.14%
9,MI,Michigan,9986857,1.0%,3.02%
10,NJ,New Jersey,8882190,1.0%,2.69%
11,VA,Virginia,8535519,6.7%,2.58%
12,WA,Washington,7614893,13.2%,2.28%
13,AZ,Arizona,7278717,13.9%,2.17%
14,MA,Massachusetts,6949503,5.3%,2.09%
15,TN,Tennessee,6833174,7.6%,2.05%
16,IN,Indiana,6732219,3.8%,2.02%
17,MO,Missouri,6137428,2.5%,1.85%
18,MD,Maryland,6045680,4.7%,1.83%
19,WI,Wisconsin,5822434,2.4%,1.76%
20,CO,Colorado,5758736,14.5%,1.72%
21,MN,Minnesota,5639632,6.3%,1.70%
22,SC,South Carolina,5148714,11.3%,1.54%
23,AL,Alabama,4903185,2.6%,1.48%
24,LA,Louisiana,4648794,2.5%,1.41%
25,KY,Kentucky,4467673,3.0%,1.35%
26,OR,Oregon,4217737,10.1%,1.27%
27,OK,Oklahoma,3956971,5.5%,1.19%
28,CT,Connecticut,3565287,-0.2%,1.08%
29,UT,Utah,3205958,16.0%,0.96%
30,IA,Iowa,3155070,3.6%,0.95%
31,NV,Nevada,3080156,14.1%,0.92%
32,AR,Arkansas,3017825,3.5%,0.91%
33,MS,Mississippi,2976149,0.3%,0.90%
34,KS,Kansas,2913314,2.1%,0.88%
35,NM,New Mexico,2096829,1.8%,0.63%
36,NE,Nebraska,1934408,5.9%,0.58%
37,ID,Idaho,1787065,14.0%,0.53%
38,WV,West Virginia,1792147,-3.3%,0.55%
39,HI,Hawaii,1415872,4.1%,0.43%
40,NH,New Hampshire,1359711,3.3%,0.41%
41,ME,Maine,1344212,1.2%,0.40%
42,MT,Montana,1068778,8.0%,0.32%
43,RI,Rhode Island,1059361,0.6%,0.32%
44,DE,Delaware,973764,8.4%,0.29%
45,SD,South Dakota,884659,8.7%,0.27%
46,ND,North Dakota,762062,13.3%,0.23%
47,AK,Alaska,731545,3.0%,0.22%
48,VT,Vermont,623989,-0.3%,0.19%
49,WY,Wyoming,578759,2.7%,0.17%

In [25]:
populate_by_state=populate_by_state.rename (columns={'Population estimate, July 1, 2019[2]':"Population",
       'Percent change, 2010–2019[note 1]': 'Population Percent Change',
       'Percent of the total U.S. population, 2018[note 3]':"Percent of Total Population"})

In [26]:
populate_by_state

,State Abbreviation,State Name,Population,Population Percent Change,Percent of Total Population
0,CA,California,39512223,6.1%,11.96%
1,TX,Texas,28995881,15.3%,8.68%
2,FL,Florida,21477737,14.2%,6.44%
3,NY,New York,19453561,0.4%,5.91%
4,PA,Pennsylvania,12801989,0.8%,3.87%
5,IL,Illinois,12671821,-1.2%,3.85%
6,OH,Ohio,11689100,1.3%,3.53%
7,GA,Georgia,10617423,9.6%,3.18%
8,NC,North Carolina,10488084,10.0%,3.14%
9,MI,Michigan,9986857,1.0%,3.02%
10,NJ,New Jersey,8882190,1.0%,2.69%
11,VA,Virginia,8535519,6.7%,2.58%
12,WA,Washington,7614893,13.2%,2.28%
13,AZ,Arizona,7278717,13.9%,2.17%
14,MA,Massachusetts,6949503,5.3%,2.09%
15,TN,Tennessee,6833174,7.6%,2.05%
16,IN,Indiana,6732219,3.8%,2.02%
17,MO,Missouri,6137428,2.5%,1.85%
18,MD,Maryland,6045680,4.7%,1.83%
19,WI,Wisconsin,5822434,2.4%,1.76%
20,CO,Colorado,5758736,14.5%,1.72%
21,MN,Minnesota,5639632,6.3%,1.70%
22,SC,South Carolina,5148714,11.3%,1.54%
23,AL,Alabama,4903185,2.6%,1.48%
24,LA,Louisiana,4648794,2.5%,1.41%
25,KY,Kentucky,4467673,3.0%,1.35%
26,OR,Oregon,4217737,10.1%,1.27%
27,OK,Oklahoma,3956971,5.5%,1.19%
28,CT,Connecticut,3565287,-0.2%,1.08%
29,UT,Utah,3205958,16.0%,0.96%
30,IA,Iowa,3155070,3.6%,0.95%
31,NV,Nevada,3080156,14.1%,0.92%
32,AR,Arkansas,3017825,3.5%,0.91%
33,MS,Mississippi,2976149,0.3%,0.90%
34,KS,Kansas,2913314,2.1%,0.88%
35,NM,New Mexico,2096829,1.8%,0.63%
36,NE,Nebraska,1934408,5.9%,0.58%
37,ID,Idaho,1787065,14.0%,0.53%
38,WV,West Virginia,1792147,-3.3%,0.55%
39,HI,Hawaii,1415872,4.1%,0.43%
40,NH,New Hampshire,1359711,3.3%,0.41%
41,ME,Maine,1344212,1.2%,0.40%
42,MT,Montana,1068778,8.0%,0.32%
43,RI,Rhode Island,1059361,0.6%,0.32%
44,DE,Delaware,973764,8.4%,0.29%
45,SD,South Dakota,884659,8.7%,0.27%
46,ND,North Dakota,762062,13.3%,0.23%
47,AK,Alaska,731545,3.0%,0.22%
48,VT,Vermont,623989,-0.3%,0.19%
49,WY,Wyoming,578759,2.7%,0.17%

In [27]:
populate_by_state=populate_by_state.drop(["Population Percent Change"], axis=1)

In [37]:
populate_by_state=populate_by_state.reset_index()

In [47]:
populate_by_state=populate_by_state.rename(columns={"index":"id", "population": "Population"})
populate_by_state

,id,State Abbreviation,State Name,Population,Percent of Total Population
0,0,CA,California,39512223,11.96%
1,1,TX,Texas,28995881,8.68%
2,2,FL,Florida,21477737,6.44%
3,3,NY,New York,19453561,5.91%
4,4,PA,Pennsylvania,12801989,3.87%
5,5,IL,Illinois,12671821,3.85%
6,6,OH,Ohio,11689100,3.53%
7,7,GA,Georgia,10617423,3.18%
8,8,NC,North Carolina,10488084,3.14%
9,9,MI,Michigan,9986857,3.02%
10,10,NJ,New Jersey,8882190,2.69%
11,11,VA,Virginia,8535519,2.58%
12,12,WA,Washington,7614893,2.28%
13,13,AZ,Arizona,7278717,2.17%
14,14,MA,Massachusetts,6949503,2.09%
15,15,TN,Tennessee,6833174,2.05%
16,16,IN,Indiana,6732219,2.02%
17,17,MO,Missouri,6137428,1.85%
18,18,MD,Maryland,6045680,1.83%
19,19,WI,Wisconsin,5822434,1.76%
20,20,CO,Colorado,5758736,1.72%
21,21,MN,Minnesota,5639632,1.70%
22,22,SC,South Carolina,5148714,1.54%
23,23,AL,Alabama,4903185,1.48%
24,24,LA,Louisiana,4648794,1.41%
25,25,KY,Kentucky,4467673,1.35%
26,26,OR,Oregon,4217737,1.27%
27,27,OK,Oklahoma,3956971,1.19%
28,28,CT,Connecticut,3565287,1.08%
29,29,UT,Utah,3205958,0.96%
30,30,IA,Iowa,3155070,0.95%
31,31,NV,Nevada,3080156,0.92%
32,32,AR,Arkansas,3017825,0.91%
33,33,MS,Mississippi,2976149,0.90%
34,34,KS,Kansas,2913314,0.88%
35,35,NM,New Mexico,2096829,0.63%
36,36,NE,Nebraska,1934408,0.58%
37,37,ID,Idaho,1787065,0.53%
38,38,WV,West Virginia,1792147,0.55%
39,39,HI,Hawaii,1415872,0.43%
40,40,NH,New Hampshire,1359711,0.41%
41,41,ME,Maine,1344212,0.40%
42,42,MT,Montana,1068778,0.32%
43,43,RI,Rhode Island,1059361,0.32%
44,44,DE,Delaware,973764,0.29%
45,45,SD,South Dakota,884659,0.27%
46,46,ND,North Dakota,762062,0.23%
47,47,AK,Alaska,731545,0.22%
48,48,VT,Vermont,623989,0.19%
49,49,WY,Wyoming,578759,0.17%

# Loading

In [39]:
from sqlalchemy import create_engine

In [40]:
#connect to local database
rds_connection_string = "todda:pwd1!@#$@localhost:5432/restaurant_db"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [41]:
engine.table_names()

['restaurant', 'state_population']

In [48]:
populate_by_state.to_sql(name='state_population', con=engine, if_exists='append', index=False)

In [49]:
pd.read_sql_query('select * from state_population', con=engine).head()

   id State Abbreviation    State Name  Population Percent of Total Population
0   0                 CA    California    39512223                      11.96%
1   1                 TX         Texas    28995881                       8.68%
2   2                 FL       Florida    21477737                       6.44%
3   3                 NY      New York    19453561                       5.91%
4   4                 PA  Pennsylvania    12801989                       3.87%

In [52]:
fast_food_transformed.columns

Index(['ID', 'Categories', 'City', 'Restaurant_Name', 'State'], dtype='object')

In [53]:
fast_food_transformed.to_sql(name="restaurant", con=engine, if_exists='append', index=False)

In [54]:
pd.read_sql_query('select * from restaurant', con=engine).head()

,ID,Categories,City,Restaurant_Name,State
0,AWrSh_KgsVYjT2BJAzaH,"Fast Food Restaurants,Hamburgers and Hot Dogs,...",Greeley,Carl's Jr.,CO
1,AWEKlA-LIxWefVJwxG9B,"Restaurant,Mexican Restaurants,Fast Food Resta...",Grand Junction,Del Taco,CO
2,AWrSfAcYsVYjT2BJAzPt,"Sandwich Shops,Fast Food Restaurants,Restauran...",Grand Junction,Which Wich,CO
3,AWrSa3NAQTFama1Xpkbz,"Fast Food Restaurants,Mexican Restaurants,Rest...",Aurora,Chipotle Mexican Grill,CO
4,AWrSaVGzZ4Yw-wtdgcaB,"Fast Food Restaurants,Mexican Restaurants,Rest...",Denver,Taco Bell,CO