# ETL Project

## Import Dependencies and Setup

In [8]:

import pandas as pd

## Extract data

In [9]:
fast_food_file = 'Resources/Fast_Food_Restaurants.csv'

In [10]:
fast_food_df = pd.read_csv(fast_food_file)
fast_food_df.head()

,id,dateAdded,dateUpdated,address,categories,primaryCategories,city,country,keys,latitude,longitude,name,postalCode,province,sourceURLs,websites
0,AWrSh_KgsVYjT2BJAzaH,2019-05-19T23:58:05Z,2019-05-19T23:58:05Z,2555 11th Avenue,"Fast Food Restaurants,Hamburgers and Hot Dogs,...",Accommodation & Food Services,Greeley,US,us/co/greeley/255511thavenue/554191587,40.39629,-104.69699,Carl's Jr.,80631,CO,https://www.yellowpages.com/greeley-co/mip/car...,https://www.carlsjr.com/?utm_source=Yextandutm...
1,AWEKlA-LIxWefVJwxG9B,2018-01-18T18:30:23Z,2019-05-19T23:45:05Z,2513 Highway 6 And 50,"Restaurant,Mexican Restaurants,Fast Food Resta...",Accommodation & Food Services,Grand Junction,US,us/co/grandjunction/2513highway6and50/1550891556,39.08135,-108.58689,Del Taco,81505,CO,http://www.citysearch.com/profile/772076870/gr...,http://www.deltaco.com
2,AWrSfAcYsVYjT2BJAzPt,2019-05-19T23:45:04Z,2019-05-19T23:45:04Z,1125 Patterson Road,"Sandwich Shops,Fast Food Restaurants,Restauran...",Accommodation & Food Services,Grand Junction,US,us/co/grandjunction/1125pattersonroad/-2137447852,39.09148,-108.55411,Which Wich,81506,CO,https://www.yellowpages.com/grand-junction-co/...,http://www.whichwich.com
3,AWrSa3NAQTFama1Xpkbz,2019-05-19T23:26:58Z,2019-05-19T23:26:58Z,3455 N Salida Court,"Fast Food Restaurants,Mexican Restaurants,Rest...",Accommodation & Food Services,Aurora,US,us/co/aurora/3455nsalidacourt/1143321601,39.76369,-104.77671,Chipotle Mexican Grill,80011,CO,https://www.yellowpages.com/aurora-co/mip/chip...,http://www.chipotle.com
4,AWrSaVGzZ4Yw-wtdgcaB,2019-05-19T23:24:38Z,2019-05-19T23:24:38Z,5225 E Colfax Avenue,"Fast Food Restaurants,Mexican Restaurants,Rest...",Accommodation & Food Services,Denver,US,us/co/denver/5225ecolfaxavenue/-864103396,39.74044,-104.92636,Taco Bell,80220,CO,https://www.yellowpages.com/denver-co/mip/taco...,https://locations.tacobell.com/co/denver/5225-...

## Transforming data

In [11]:
#Creating a filtered dataframe from specific columns
fast_food_cols = ['id', 'categories', 'city', 'keys', 'name', 'province']
fast_food_transformed = fast_food_df[fast_food_cols].copy()
fast_food_transformed

,id,categories,city,keys,name,province
0,AWrSh_KgsVYjT2BJAzaH,"Fast Food Restaurants,Hamburgers and Hot Dogs,...",Greeley,us/co/greeley/255511thavenue/554191587,Carl's Jr.,CO
1,AWEKlA-LIxWefVJwxG9B,"Restaurant,Mexican Restaurants,Fast Food Resta...",Grand Junction,us/co/grandjunction/2513highway6and50/1550891556,Del Taco,CO
2,AWrSfAcYsVYjT2BJAzPt,"Sandwich Shops,Fast Food Restaurants,Restauran...",Grand Junction,us/co/grandjunction/1125pattersonroad/-2137447852,Which Wich,CO
3,AWrSa3NAQTFama1Xpkbz,"Fast Food Restaurants,Mexican Restaurants,Rest...",Aurora,us/co/aurora/3455nsalidacourt/1143321601,Chipotle Mexican Grill,CO
4,AWrSaVGzZ4Yw-wtdgcaB,"Fast Food Restaurants,Mexican Restaurants,Rest...",Denver,us/co/denver/5225ecolfaxavenue/-864103396,Taco Bell,CO
...,...,...,...,...,...,...
9995,AVwd7U0T_7pvs4fz-fS_,"American Restaurants,Caterers,Soul Food Restau...",Bessemer,us/al/bessemer/1803carolinaave/785498836,Church's Chicken Of Birmingham,AL
9996,AV1XW1fF3D1zeR_xFKHL,"Mexican Restaurants,Caterers,Delicatessens,Iri...",Raleigh,us/nc/raleigh/8511cantileverwayste105/-1596320866,Luxury Box,NC
9997,AV5UVbkiRxPSIh2RiQxV,"Carry-out food,Hot dog restaurants,Fast Food R...",Plover,us/wi/plover/2601ploverrd/-1161002137,McDonald's,WI
9998,AVwc9BxYByjofQCxj_GW,"Carry-out food,Caterers,Restaurant delivery se...",Hendersonville,us/tn/hendersonville/170emainst/-66712705,Pizza Hut,TN
9999,AVzA_GF53D1zeR_xBDVW,"Fast Food Restaurant,Restaurants",Durham,us/nc/durham/3400westgatedrive/-2061630068,Burger King,NC

In [12]:
#Rename columns
fast_food_transformed = fast_food_transformed.rename(columns={'id': 'ID', 'categories':'Categories', 
                                                              'city':'City', 'keys': 'Keys', 
                                                              'name':'Restaurant_Name', 'province': 'State'})
fast_food_transformed

,ID,Categories,City,Keys,Restaurant_Name,State
0,AWrSh_KgsVYjT2BJAzaH,"Fast Food Restaurants,Hamburgers and Hot Dogs,...",Greeley,us/co/greeley/255511thavenue/554191587,Carl's Jr.,CO
1,AWEKlA-LIxWefVJwxG9B,"Restaurant,Mexican Restaurants,Fast Food Resta...",Grand Junction,us/co/grandjunction/2513highway6and50/1550891556,Del Taco,CO
2,AWrSfAcYsVYjT2BJAzPt,"Sandwich Shops,Fast Food Restaurants,Restauran...",Grand Junction,us/co/grandjunction/1125pattersonroad/-2137447852,Which Wich,CO
3,AWrSa3NAQTFama1Xpkbz,"Fast Food Restaurants,Mexican Restaurants,Rest...",Aurora,us/co/aurora/3455nsalidacourt/1143321601,Chipotle Mexican Grill,CO
4,AWrSaVGzZ4Yw-wtdgcaB,"Fast Food Restaurants,Mexican Restaurants,Rest...",Denver,us/co/denver/5225ecolfaxavenue/-864103396,Taco Bell,CO
...,...,...,...,...,...,...
9995,AVwd7U0T_7pvs4fz-fS_,"American Restaurants,Caterers,Soul Food Restau...",Bessemer,us/al/bessemer/1803carolinaave/785498836,Church's Chicken Of Birmingham,AL
9996,AV1XW1fF3D1zeR_xFKHL,"Mexican Restaurants,Caterers,Delicatessens,Iri...",Raleigh,us/nc/raleigh/8511cantileverwayste105/-1596320866,Luxury Box,NC
9997,AV5UVbkiRxPSIh2RiQxV,"Carry-out food,Hot dog restaurants,Fast Food R...",Plover,us/wi/plover/2601ploverrd/-1161002137,McDonald's,WI
9998,AVwc9BxYByjofQCxj_GW,"Carry-out food,Caterers,Restaurant delivery se...",Hendersonville,us/tn/hendersonville/170emainst/-66712705,Pizza Hut,TN
9999,AVzA_GF53D1zeR_xBDVW,"Fast Food Restaurant,Restaurants",Durham,us/nc/durham/3400westgatedrive/-2061630068,Burger King,NC

In [36]:
fast_food_state = fast_food_transformed.groupby('State').count()#(['State', 'Restaurant_Name']).count()
fast_food_state.rename(columns={'Restaurant_Name': 'Restaurant_Count'}, inplace = True)
fast_food_state

        ID  Categories  City  Keys  Restaurant_Count
State
AK      64          64    64    64                64
AL     635         635   635   635               635
AR     124         124   124   124               124
AZ     186         186   186   186               186
CA     727         727   727   727               727
CO     154         154   154   154               154
CT       1           1     1     1                 1
DC      18          18    18    18                18
DE      25          25    25    25                25
FL     739         739   739   739               739
GA     238         238   238   238               238
HI      91          91    91    91                91
IA     107         107   107   107               107
ID      65          65    65    65                65
IL     305         305   305   305               305
IN     519         519   519   519               519
KS      92          92    92    92                92
KY     142         142   142   142               142
LA     161         161   161   161               161
MA       2           2     2     2                 2
MD     114         114   114   114               114
MI     210         210   210   210               210
MN      83          83    83    83                83
MO     244         244   244   244               244
MS      99          99    99    99                99
MT      33          33    33    33                33
NC     663         663   663   663               663
ND      18          18    18    18                18
NE      74          74    74    74                74
NJ       2           2     2     2                 2
NM      69          69    69    69                69
NV      96          96    96    96                96
NY     173         173   173   173               173
OH     922         922   922   922               922
OK     147         147   147   147               147
OR     334         334   334   334               334
PA     194         194   194   194               194
SC     322         322   322   322               322
SD      27          27    27    27                27
TN     243         243   243   243               243
TX     426         426   426   426               426
UT      74          74    74    74                74
VA     348         348   348   348               348
WA     404         404   404   404               404
WI     112         112   112   112               112
WV     154         154   154   154               154
WY      20          20    20    20                20

In [37]:
#Sorting by states with most restaurants
fast_food_state[['Restaurant_Count']].sort_values('Restaurant_Count',ascending=False)

       Restaurant_Count
State
OH                  922
FL                  739
CA                  727
NC                  663
AL                  635
IN                  519
TX                  426
WA                  404
VA                  348
OR                  334
SC                  322
IL                  305
MO                  244
TN                  243
GA                  238
MI                  210
PA                  194
AZ                  186
NY                  173
LA                  161
CO                  154
WV                  154
OK                  147
KY                  142
AR                  124
MD                  114
WI                  112
IA                  107
MS                   99
NV                   96
KS                   92
HI                   91
MN                   83
UT                   74
NE                   74
NM                   69
ID                   65
AK                   64
MT                   33
SD                   27
DE                   25
WY                   20
ND                   18
DC                   18
NJ                    2
MA                    2
CT                    1